<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.diagnostics>
        <sources>
            <!-- En esta sección se define la configuración del registro para My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de eventos de la aplicación -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>

    <add key="IndiceRobot" value="0" />


    <add key="Samurai_LimiteServo0" value="82;162" />
    <add key="Samurai_LimiteServo1" value="47;96" />
    <add key="Samurai_LimiteServo2" value="69;179" />
    <add key="Samurai_LimiteServo3" value="35;136" />
    <add key="Samurai_LimiteServo4" value="0;125" />
    <add key="Samurai_LimiteServo5" value="13;82" />
    <add key="Samurai_LimiteServo6" value="18;93" />
    <add key="Samurai_LimiteServo7" value="51;111" />
    <add key="Samurai_LimiteServo8" value="31;172" />
    <add key="Samurai_LimiteServo9" value="63;140" />
    <add key="Samurai_LimiteServo10" value="10;129" />
    <add key="Samurai_LimiteServo11" value="86;159" />
    <add key="Samurai_LimiteServo12" value="50;110" />
    <add key="Samurai_LimiteServo13" value="0;179" />
    <add key="Samurai_LimiteServo14" value="24;162" />
    <add key="Samurai_LimiteServo15" value="0;179" />
    <add key="Samurai_LimiteServo16" value="0;136" />
    <add key="Samurai_LimiteServo17" value="0;179" />
    <add key="Samurai_LimiteServo18" value="37;172" />
    <add key="Samurai_LimiteServo19" value="0;179" />
    <add key="Samurai_LimiteServo20" value="24;164" />
    <add key="Samurai_LimiteServo21" value="75;104" />
    <add key="Samurai_LimiteServo22" value="122;145" />

    <add key="Samurai_PosInicialServo0" value="133" />
    <add key="Samurai_PosInicialServo1" value="73" />
    <add key="Samurai_PosInicialServo2" value="79" />
    <add key="Samurai_PosInicialServo3" value="124" />
    <add key="Samurai_PosInicialServo4" value="113" />
    <add key="Samurai_PosInicialServo5" value="82" />
    <add key="Samurai_PosInicialServo6" value="89" />
    <add key="Samurai_PosInicialServo7" value="88" />
    <add key="Samurai_PosInicialServo8" value="108" />
    <add key="Samurai_PosInicialServo9" value="75" />
    <add key="Samurai_PosInicialServo10" value="54" />
    <add key="Samurai_PosInicialServo11" value="95" />
    <add key="Samurai_PosInicialServo12" value="81" />
    <add key="Samurai_PosInicialServo13" value="174" />
    <add key="Samurai_PosInicialServo14" value="132" />
    <add key="Samurai_PosInicialServo15" value="86" />
    <add key="Samurai_PosInicialServo16" value="99" />
    <add key="Samurai_PosInicialServo17" value="19" />
    <add key="Samurai_PosInicialServo18" value="60" />
    <add key="Samurai_PosInicialServo19" value="86" />
    <add key="Samurai_PosInicialServo20" value="56" />
    <add key="Samurai_PosInicialServo21" value="91" />
    <add key="Samurai_PosInicialServo22" value="133" />

    <add key="Samurai_ImagenRobot" value="\Imagenes\Robot.bmp" />

    
    
    <add key="Hadron_LimiteServo0" value="10;162" />
    <add key="Hadron_LimiteServo1" value="47;96" />
    <add key="Hadron_LimiteServo2" value="48;171" />
    <add key="Hadron_LimiteServo3" value="35;140" />
    <add key="Hadron_LimiteServo4" value="30;140" />
    <add key="Hadron_LimiteServo5" value="53;105" />
    <add key="Hadron_LimiteServo6" value="0;179" />
    <add key="Hadron_LimiteServo7" value="51;111" />
    <add key="Hadron_LimiteServo8" value="67;179" />
    <add key="Hadron_LimiteServo9" value="36;112" />
    <add key="Hadron_LimiteServo10" value="10;140" />
    <add key="Hadron_LimiteServo11" value="44;163" />
    <add key="Hadron_LimiteServo12" value="0;179" />
    <add key="Hadron_LimiteServo13" value="0;179" />
    <add key="Hadron_LimiteServo14" value="0;179" />
    <add key="Hadron_LimiteServo15" value="40;163" />
    <add key="Hadron_LimiteServo16" value="0;136" />
    <add key="Hadron_LimiteServo17" value="0;179" />
    <add key="Hadron_LimiteServo18" value="10;179" />
    <add key="Hadron_LimiteServo19" value="0;158" />
    <add key="Hadron_LimiteServo20" value="24;164" />
    <add key="Hadron_LimiteServo21" value="0;179" />
    <add key="Hadron_LimiteServo22" value="118;145" />

    <add key="Hadron_PosInicialServo0" value="34" />
    <add key="Hadron_PosInicialServo1" value="75" />
    <add key="Hadron_PosInicialServo2" value="88" />
    <add key="Hadron_PosInicialServo3" value="104" />
    <add key="Hadron_PosInicialServo4" value="135" />
    <add key="Hadron_PosInicialServo5" value="97" />
    <add key="Hadron_PosInicialServo6" value="163" />
    <add key="Hadron_PosInicialServo7" value="88" />
    <add key="Hadron_PosInicialServo8" value="115" />
    <add key="Hadron_PosInicialServo9" value="57" />
    <add key="Hadron_PosInicialServo10" value="94" />
    <add key="Hadron_PosInicialServo11" value="75" />
    <add key="Hadron_PosInicialServo12" value="81" />
    <add key="Hadron_PosInicialServo13" value="0" />
    <add key="Hadron_PosInicialServo14" value="157" />
    <add key="Hadron_PosInicialServo15" value="103" />
    <add key="Hadron_PosInicialServo16" value="99" />
    <add key="Hadron_PosInicialServo17" value="179" />
    <add key="Hadron_PosInicialServo18" value="50" />
    <add key="Hadron_PosInicialServo19" value="51" />
    <add key="Hadron_PosInicialServo20" value="56" />
    <add key="Hadron_PosInicialServo21" value="128" />
    <add key="Hadron_PosInicialServo22" value="133" />

    <add key="Hadron_ImagenRobot" value="\Imagenes\servos_hadron.gif" />

  </appSettings>
</configuration>
